
/*** SVG gradients ***/

$experimental-support-for-svg: true;

/*** COLORS ***/

$body-font-color: #4e4e4e;
$header-footer-color: #004b8d;
$link-font-color: #004b8d;

$mq-tablet-portrait: "1000px";
$mq-mobile-wide: "768px";
$mq-mobile-wide-plus1: "769px";
$mq-mobile: "640px";

/*** MIXINS ***/
@mixin input-placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &:-ms-input-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}